.ivu-breadcrumb {
  height:30px;
  border-bottom:1px solid #efefef;
  line-height:30px;
  padding-left:10px;
}


.ivu-table-footer {
	border-top: 1px solid rgb(215,221,228);
	line-height: 48px;
}

.ivu-btn {
	margin-left:10px;
}

.ivu-modal-body {
	/*padding-left:35px;*/
	/*padding-right:45px;*/
}

.ivu-table-fixed-right {
	margin-top: 48px;
	/*margin-right:15px;*/
}

.ivu-table-fixed {
	margin-top: 48px;
}
.ivu-table-fixed, .ivu-table-fixed-right {
	box-shadow: none;
	border-right:1px solid rgb(227,232,238);
}
.ivu-table-fixed-right {
	border-left:1px solid rgb(227,232,238);
}
.ivu-menu-dark {
	background-color: rgb(50,65,87)
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover {
	background-color: rgb(72,87,107)
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
	background-color: rgb(49,53,64) !important;
	border-right: 3px solid #39f;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
	background-color: rgb(72,87,107)
}

.vue-image-crop-upload .vicp-wrap .vicp-step1 .vicp-drop-area {
	height:180px !important;
}